.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-content {
  justify-content: flex-start;
}

.left-column {
  display: flex;
  flex-direction: column;
}

.long-column {
  flex: 1;
}

.full-width {
  width: 100%;
}

.border {
  border: 1px solid;
}

.center {
  text-align: center;
}

.cell-width {
  width: 16.66667%;
}
